# Help documentation
HELP.md

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Ignore specific build folders
!**/src/main/**/build/
!**/src/test/**/build/

# Spring Tools Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Application YAML files
src/main/resources/application*.yml

# Debugging files
hs_err_pid*

# OS specific files
.DS_Store
Thumbs.db
